<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to ReFrame</h1>
    
    <h2>
        This is pre-alpha version of 
        [*ReFrame: Adding cultural context via community and professional
        curation of additional news sources *](http://canvas.aljazeera.com/2014/11/13/example-10-discovering-history-and-culture/)
    </h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>  
  </div>
  
<% end %>
